$color-white: #fff;
$color-black: #000;

$color-grey-60: #232b32;
$color-grey-10: #d9d9d9;

$color-blue: #1da1f2;
$color-yellow: #ffad1f;
$color-red: #e0255e;
$color-purple: #794bc3;
$color-orange: #f45e22;
$color-green: #17bf63;
